Repository mvaldes14/terraform: changes, and which Atlantis projects are due for each by the changed paths.
All: grafana, aws, github

grafana:
  workspace: grafana
  dir: apps/grafana

aws:
  workspace: aws
  dir: apps/aws

github:
  workspace: github
  dir: apps/github
  pre_workflow_hooks:
  - run: git config --global --add safe.directory '*'

feat: new dashboards in k8s
  apps/grafana/dashboards.tf
  apps/grafana/datasources.tf
  apps/grafana/json_files/cloudflared-tunnel.json
  apps/grafana/json_files/flux.json
  apps/grafana/json_files/homelab-monitors.json
  apps/grafana/json_files/node_exporter.json
  apps/grafana/json_files/prometheus.json
Due: grafana

fix: dashboards datasource missing
  apps/grafana/json_files/cloudflared-tunnel.json
  apps/grafana/json_files/flux.json
  apps/grafana/json_files/homelab-monitors.json
  apps/grafana/json_files/node_exporter.json
  apps/grafana/json_files/prometheus.json
Due: none

feat: adding github datasource
  apps/grafana/datasources.tf
Due: grafana

fixed dashboard
  apps/grafana/json_files/homelab-monitors.json
Due: none

renaming repo for otel and fuego testing
  apps/github/locals.tf
Due: github

renaming repo again
  apps/github/locals.tf
Due: github

setting up grafana from scratch
  apps/grafana/datasources.tf
Due: grafana

fixing datasource type for elastic
  apps/grafana/datasources.tf
Due: grafana

adding github token
  apps/grafana/datasources.tf
  apps/grafana/variables.tf
Due: grafana

feat:adding grafana alerting
  apps/grafana/alerts.tf
  apps/grafana/json_files/cloudflared-tunnel.json
  apps/grafana/json_files/homelab-monitors.json
  apps/grafana/variables.tf
Due: grafana

adding group by attrib
  apps/grafana/alerts.tf
Due: grafana

update: new dashboards and updated datasource
  apps/grafana/datasources.tf
  apps/grafana/json_files/cloudflared-tunnel.json
  apps/grafana/json_files/homelab-monitors.json
Due: grafana

fix: updating source name
  apps/grafana/datasources.tf
Due: grafana

elastic fix
  apps/grafana/datasources.tf
  flake.lock
  flake.nix
Due: grafana

elastic fix for real
  apps/grafana/datasources.tf
  flake.nix
Due: grafana

feat: TW-37
  apps/github/main.tf
  apps/github/variables.tf
Due: github

feat: adding default value
  apps/github/variables.tf
Due: github

adding new repo for linear
  apps/github/locals.tf
Due: github

minor update
  apps/demo/main.tf
  apps/grafana/alerts.tf
  apps/grafana/datasources.tf
  apps/grafana/providers.tf
  apps/grafana/variables.tf
Due: grafana

secrets for repos and cleanup
  apps/github/locals.tf
  apps/github/main.tf
Due: github

cleanup of non used data blocks
  apps/github/data.tf
Due: github

updating provider
  apps/github/data.tf
  apps/github/locals.tf
  apps/github/main.tf
  apps/github/providers.tf
Due: github

adding webhook to all repos for automation
  apps/github/main.tf
Due: github

new repo todoist.nvim
  apps/github/locals.tf
Due: github

extra }
  apps/github/locals.tf
Due: github

extra } again
  apps/github/locals.tf
Due: github

missing =
  apps/github/locals.tf
Due: github

fixed structure
  apps/github/locals.tf
Due: github

updating webhook
  apps/github/main.tf
Due: github

updating-webhoook-discord
  apps/github/main.tf
  apps/github/variables.tf
Due: github

updating attribs name
  apps/github/main.tf
  apps/github/variables.tf
Due: github

updating event type
  apps/github/main.tf
Due: github

adding issues to all repos is now possible
  apps/github/main.tf
Due: github

adding new datasources
  apps/grafana/datasources.tf
  apps/grafana/variables.tf
Due: grafana

renaming variables to match HCP
  apps/grafana/alerts.tf
  apps/grafana/datasources.tf
  apps/grafana/providers.tf
  apps/grafana/state.tf
  apps/grafana/variables.tf
Due: grafana

no more dashboards in terraform
  apps/grafana/dashboards.tf
  apps/grafana/json_files/cloudflared-tunnel.json
  apps/grafana/json_files/flux.json
  apps/grafana/json_files/homelab-monitors.json
  apps/grafana/json_files/node_exporter.json
  apps/grafana/json_files/prometheus.json
Due: grafana

removing prometheus
  apps/grafana/datasources.tf
Due: grafana

removing prometheus for real
  apps/grafana/datasources.tf
Due: grafana

terraform nix flake update
  apps/demo/main.tf
  apps/demo/state.tf
  flake.nix
Due: none

Path conditions:
  grafana: any of: apps/grafana/*.tf
  aws: any of: apps/aws/*.tf
  github: any of: apps/github/*.tf
