Repository mvaldes14/terraform: changes, and which Atlantis projects are due for each by the changed paths.
All: grafana, aws, github

grafana:
  workspace: grafana
  dir: apps/grafana

aws:
  workspace: aws
  dir: apps/aws

github:
  workspace: github
  dir: apps/github

fix(terraform): removing dead code and updating repo visibilit
  apps/github/locals.tf
  apps/github/main.tf
Due: github

feat(doit): doit mcp repo
  apps/github/locals.tf
Due: github

Revert "feat(doit): doit mcp repo"
  apps/github/locals.tf
Due: github

feat(terraform): homelab provider
  apps/github/locals.tf
Due: github

feat(terraform): chi repo
  apps/github/locals.tf
Due: github

feat(terraform): shorts repo
  apps/github/locals.tf
Due: github

feat(terraform): new structure, cloudflared records
  .envrc
  CLAUDE.md
  README.md
  agents.md
  apps/aws/README.md
  apps/aws/kms.tf
  apps/aws/locals.tf
  apps/aws/outputs.tf
  apps/aws/providers.tf
  apps/aws/s3.tf
  apps/aws/variables.tf
  apps/cloudflare/README.md
  apps/cloudflare/imports.tf
  apps/cloudflare/providers.tf
  apps/cloudflare/records.tf
  apps/cloudflare/state.tf
  apps/cloudflare/variables.tf
  apps/github/README.md
  apps/github/main.tf
  apps/github/repos.tf
  apps/signoz/README.md
  apps/signoz/alerts.tf
  apps/signoz/dashboards.tf
  apps/signoz/providers.tf
  apps/signoz/state.tf
  apps/signoz/variables.tf
  apps/vault/README.md
  apps/vault/auth.tf
  apps/vault/mounts.tf
  apps/vault/policies.tf
  apps/vault/policies/readonly.hcl
  apps/vault/providers.tf
  apps/vault/state.tf
  apps/vault/variables.tf
  atlantis.yaml
  devbox.json
  devbox.lock
Due: aws, github

fix(terraform): remove old workspace
  CLAUDE.md
  README.md
  apps/aws/README.md
  apps/aws/state.tf
  apps/aws_localstack/state.tf
Due: aws

fix(terraform): remove vault from atlantis for now
  atlantis.yaml
Due: none

fix(terraform): no atlantis for aws for now
  atlantis.yaml
Due: none

fix(terraform): remove unused value and updated the required tf version
  apps/cloudflare/providers.tf
  apps/cloudflare/variables.tf
Due: none

fix(terraform): cannot modify s3 records, managed by cloudflared
  apps/cloudflare/imports.tf
  apps/cloudflare/records.tf
Due: none

feat(grafana): trim unused datasources, fix stale endpoints, add redis
  apps/grafana/datasources.tf
  apps/grafana/variables.tf
Due: grafana

fix(grafana): remove unused telegram
  apps/grafana/alerts.tf
  apps/grafana/variables.tf
Due: grafana

feat(grafana): upgrade provider, clean unused resources
  apps/grafana/datasources.tf
  apps/grafana/notifications.tf
  apps/grafana/providers.tf
  apps/grafana/variables.tf
Due: grafana

fix(terraform): fmt
  apps/github/repos.tf
Due: github

feat(github): send repo webhooks to gotify instead of discord
  apps/github/README.md
  apps/github/repos.tf
  apps/github/variables.tf
  modules/github-repo/README.md
Due: github

feat(terraform): renamed repo
  apps/github/repos.tf
Due: github

feat(terraform): cloudflared record
  apps/cloudflare/records.tf
Due: none

feat(terraform): central events url
  apps/github/README.md
  apps/github/repos.tf
  apps/github/variables.tf
  modules/github-repo/README.md
Due: github

Add k8s-infra repository configuration
  apps/github/repos.tf
Due: github

Update repos.tf
  apps/github/repos.tf
Due: github

feat(terraform): cf git record
  apps/cloudflare/records.tf
Due: none

chore: add pull request template
  .github/pull_request_template.md
Due: none

feat(terraform): aws accounts
  apps/aws/kms.tf
  apps/aws/outputs.tf
Due: aws

feat(aws): role to create infra in aws
  apps/aws/iam.tf
  apps/aws/imports.tf
  atlantis.yaml
Due: aws

feat(signoz): dummy alerts to test provider
  apps/signoz/alerts.tf
  apps/signoz/providers.tf
Due: none

Disable test_terraform alert in alerts.tf
  apps/signoz/alerts.tf
Due: none

Path conditions:
  grafana: any of: apps/grafana/*.tf
  aws: any of: apps/aws/*.tf
  github: any of: apps/github/*.tf, modules/github-repo/**/*.tf
