Repository mvaldes14/terraform: changes, and which Atlantis projects are due for each by the changed paths.
All: grafana, aws, github

grafana:
  workspace: grafana
  dir: apps/grafana

aws:
  workspace: aws
  dir: apps/aws

github:
  workspace: github
  dir: apps/github
  pre_workflow_hooks:
  - run: git config --global --add safe.directory '*'

new repo for flakes
  apps/github/locals.tf
Due: github

fixing tfe
  apps/github/state.tf
Due: github

updating state
  apps/github/state.tf
Due: github

fixing tf flake
  apps/demo/main.tf
  flake.nix
Due: none

adding docker secrets to blog repo
  apps/github/data.tf
  apps/github/main.tf
Due: github

scripts repo
  apps/demo/main.tf
  apps/demo/terraform.tfstate
  apps/demo/terraform.tfstate.backup
  apps/github/locals.tf
Due: github

updating flake
  flake.lock
  flake.nix
Due: none

Update locals.tf
  apps/github/locals.tf
Due: github

removing flake, using devbox
  .envrc
  devbox.json
  devbox.lock
  flake.lock
  flake.nix
Due: none

adding new gh actions repo
  apps/github/locals.tf
Due: github

grafana-updates
  apps/grafana/datasources.tf
  apps/grafana/notifications.tf
  apps/grafana/variables.tf
Due: grafana

updating-datasources
  apps/grafana/datasources.tf
Due: grafana

wiki-repo
  apps/github/locals.tf
Due: github

topic
  apps/github/locals.tf
Due: github

Update locals.tf by modifying repository entries
  apps/github/locals.tf
Due: github

Add otel-collector configuration to locals.tf
  apps/github/locals.tf
Due: github

signoz dashboards
  apps/signoz/dashboard.json
Due: none

feat(gh-repo) wiki for automation
  apps/github/locals.tf
  apps/github/providers.tf
Due: github

feat(modules): Add github-repo module with agents configuration
  modules/github-repo/README.md
  modules/github-repo/agents.yaml
  modules/github-repo/examples/README.md
  modules/github-repo/examples/main.tf
  modules/github-repo/main.tf
  modules/github-repo/outputs.tf
  modules/github-repo/variables.tf
  modules/github-repo/versions.tf
Due: none

docs: Add agents.md and remove agents.yaml
  agents.md
  modules/github-repo/agents.yaml
Due: none

feat(ci): Add comprehensive CI/CD pipeline
  .github/workflows/README.md
  .github/workflows/terraform-ci.yml
  .pre-commit-config.yaml
  .tflint.hcl
  Makefile
  agents.md
Due: none

revert: Remove CI/CD pipeline configuration
  .github/workflows/README.md
  .github/workflows/terraform-ci.yml
  .pre-commit-config.yaml
  .tflint.hcl
  Makefile
  agents.md
Due: none

feat(module): Add resource dependencies and migration guide
  modules/github-repo/examples/MIGRATION.md
  modules/github-repo/examples/migration.tf
  modules/github-repo/main.tf
Due: none

feat(apps/github): Add module migration with moved blocks
  apps/github/MIGRATION-INSTRUCTIONS.md
  apps/github/main-with-module.tf
Due: github

refactor(module): Simplify to essential variables only
  apps/github/main-with-module.tf
  modules/github-repo/examples/main.tf
  modules/github-repo/examples/migration.tf
  modules/github-repo/main.tf
  modules/github-repo/variables.tf
Due: github

fix(module): Remove duplicate required_providers block
  modules/github-repo/main.tf
Due: none

feat(apps/github): Migrate to module-based structure
  apps/github/main-with-module.tf
  apps/github/main.tf
  apps/github/main.tf.old
Due: github

fix: Remove duplicate provider definition and update Atlantis config
  atlantis.yaml
  modules/github-repo/versions.tf
Due: none

refactor: Remove Telegram integration
  apps/github/main.tf
  apps/github/variables.tf
  modules/github-repo/examples/main.tf
  modules/github-repo/examples/migration.tf
Due: github

refactor: Add enable_dockerhub_secrets flag per repository
  apps/github/locals.tf
  apps/github/main.tf
  modules/github-repo/examples/main.tf
  modules/github-repo/examples/migration.tf
Due: github

fix(provider): renaming to latest
  modules/github-repo/versions.tf
Due: none

chore(module): removing crap
  apps/github/MIGRATION-INSTRUCTIONS.md
  apps/github/main.tf.old
Due: none

chore(module): removing more crap
  atlantis.yaml
  modules/github-repo/examples/MIGRATION.md
  modules/github-repo/examples/README.md
  modules/github-repo/examples/main.tf
  modules/github-repo/examples/migration.tf
Due: none

fix(module): making the module simpler to use
  apps/github/main.tf
  modules/github-repo/main.tf
  modules/github-repo/variables.tf
Due: github

docs(module): removing references to telegram
  modules/github-repo/README.md
Due: none

feat(module): add vault-secrets module for fetching secrets from HashiCorp Vault
  modules/vault-secrets/README.md
  modules/vault-secrets/main.tf
  modules/vault-secrets/outputs.tf
  modules/vault-secrets/variables.tf
  modules/vault-secrets/versions.tf
Due: none

Remove 'wiki' configuration from locals.tf
  apps/github/locals.tf
Due: github

feat(vorpal): dotfiles vorpal repo
  apps/github/locals.tf
Due: github

Add task-manager to locals.tf
  apps/github/locals.tf
Due: github

Fix formatting in locals.tf
  apps/github/locals.tf
Due: github

Path conditions:
  grafana: any of: apps/grafana/*.tf
  aws: any of: apps/aws/*.tf
  github: any of: apps/github/*.tf
